<div class="wrapper" >

    <div class="top-font"> Crackit </div>

    <div class="coming-soon"> COMING SOON </div>

    <div class="mission-statement">
            (Building a community for people to learn and prepare for technical interviews)
    </div>
 </div>


<div class="contact">
    Contact us: crackwithus@gmail.com
</div>
